body{
    overflow: hidden;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-app-region:drag;
    overflow:scroll;
}
.container {
    padding:0% 6%;
    
}
.header h3{
    font-size:3.5rem;
}
.header .title{
    font-size:2.8rem;
    font-weight: bold;
}
.date{
    font-weight: bold;
    color: rgb(106, 106, 106)
}
.contents .here {
    font-size:2rem;
    font-weight: bolder;
}
img{
    width:700px;
    height:300px
}

button{
    border-radius:2px;
    border-width: 0;
    background-color:rgb(82, 192, 247);
    padding:12px;
    font-size: 1.4rem;
    color: #fff;
}
.details h4{
        font-size:2.5rem;

 }
 
 .details ul{
    list-style:none;  
    padding:0;
    text-transform: capitalize;
 }
 .details  li{
     padding:5px;
     padding-left:0px !important;
     font-size:1.2rem;
     font-weight:bold;

 }

 .details  span{
    padding:5px;
    padding-left:0px !important;
    font-weight:bold;
}
.writter{
    font-size:1.2rem;
    font-weight: bold;
}